.jumbotron {
  padding-top: 6rem;
  padding-bottom: 3rem;
  background: linear-gradient(
    135deg,
    white,
    rgb(158, 210, 255),
    rgb(44, 108, 255)
  );
}

.social-icon {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 20px;
  margin: 0 8px;
  transition: 0.3s ease;
}

.social-icon.linkedin {
  background-color: #0077b5;
}

.social-icon.github {
  background-color: #333;
}

.social-icon.instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.social-icon:hover {
  opacity: 0.8;
}

#projects {
  background: linear-gradient(
    135deg,
    white,
    rgb(158, 210, 255),
    rgb(44, 108, 255)
  );
  text-align: justify;
}

footer {
  background: linear-gradient(135deg, black, #0a0b65);
  padding-top: 2rem;
  padding-bottom: 1rem;
}
